# Setup

In [1]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt

# Import data

In [2]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Data stock\\"

In [3]:
df_astra=pd.DataFrame()
df_pfe=pd.DataFrame()
df_sino=pd.DataFrame()

for f in sorted(os.listdir(work_folder)):
        if f.endswith('.csv'):
            
            if f.split('_')[1]=='Astrazeneca':
                file1 = pd.read_csv(work_folder+f)
                df_astra=pd.concat([df_astra, file1])

            elif f.split('_')[1]=='PFE':
                file2 = pd.read_csv(work_folder+f)
                df_pfe=pd.concat([df_pfe, file2])
                
            else:
                file3 = pd.read_csv(work_folder+f)
                df_sino=pd.concat([df_sino, file3])

In [4]:
print(df_astra.describe())
print(df_pfe.describe())
print(df_sino.describe())

               Open          High           Low         Close        Volume
count  18934.000000  18934.000000  18934.000000  18934.000000  1.893400e+04
mean      53.084671     53.097353     53.071924     53.084840  2.394199e+04
std        2.019868      2.020015      2.019941      2.020160  6.081098e+04
min       48.965000     48.974998     48.959999     48.965000  0.000000e+00
25%       52.090000     52.105000     52.080002     52.090000  6.451250e+03
50%       52.970001     52.985001     52.959999     52.970001  1.248100e+04
75%       54.580002     54.590000     54.573299     54.584999  2.463350e+04
max       57.709999     57.730000     57.619999     57.695000  3.201329e+06
               Open          High           Low         Close        Volume
count  21659.000000  21659.000000  21659.000000  21659.000000  2.165900e+04
mean      38.642713     38.655344     38.630273     38.643048  6.339272e+04
std        1.348632      1.349947      1.347252      1.348476  1.268232e+05
min       35.769001     35.779900     35.759998     35.765701  0.000000e+00
25%       37.696201     37.700001     37.689999     37.696499  2.329200e+04
50%       38.740002     38.750000     38.722801     38.740002  3.934900e+04
75%       39.759998     39.770000     39.740002     39.759850  6.757500e+04
max       41.080002     41.090000     41.049999     41.080002  6.688066e+06
               Open          High           Low         Close        Volume
count  17543.000000  17543.000000  17543.000000  17543.000000  1.754300e+04
mean      23.679843     23.704539     23.656045     23.682288  4.532117e+04
std        2.151498      2.155452      2.147078      2.151144  1.071952e+05
min       18.740000     18.740000     18.719999     18.740000  0.000000e+00
25%       22.200001     22.200001     22.150000     22.200001  4.800000e+03
50%       24.100000     24.100000     24.049999     24.100000  1.480000e+04
75%       25.549999     25.549999     25.549999     25.549999  4.200000e+04
max       27.450001     27.600000     27.200001     27.450001  2.490400e+06

# Preprocessing

In [5]:
df_sino.head()

,Datetime,Open,High,Low,Close,Volume
0,2021-03-31 09:30:00+08:00,18.920000,18.920000,18.799999,18.840000,0
1,2021-03-31 09:31:00+08:00,18.820000,18.879999,18.799999,18.879999,32800
2,2021-03-31 09:32:00+08:00,18.840000,18.879999,18.820000,18.820000,93200
3,2021-03-31 09:33:00+08:00,18.799999,18.820000,18.719999,18.740000,144800
4,2021-03-31 09:34:00+08:00,18.740000,18.760000,18.719999,18.760000,24000

In [6]:
df_sino.tail()

,Datetime,Open,High,Low,Close,Volume
2048,2021-05-24 15:40:00+08:00,25.450001,25.549999,25.450001,25.549999,21200
2049,2021-05-24 15:45:00+08:00,25.500000,25.600000,25.500000,25.500000,41200
2050,2021-05-24 15:46:00+08:00,25.500000,25.600000,25.450001,25.450001,21600
2051,2021-05-24 15:48:00+08:00,25.450001,25.549999,25.400000,25.400000,392000
2052,2021-05-24 15:49:35+08:00,25.350000,25.350000,25.350000,25.350000,0

In [7]:
df_astra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18934 entries, 0 to 2722
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  18934 non-null  object
 1   Open      18934 non-null  float64
 2   High      18934 non-null  float64
 3   Low       18934 non-null  float64
 4   Close     18934 non-null  float64
 5   Volume    18934 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.0+ MB

In [8]:
df_pfe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21659 entries, 0 to 2722
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  21659 non-null  object
 1   Open      21659 non-null  float64
 2   High      21659 non-null  float64
 3   Low       21659 non-null  float64
 4   Close     21659 non-null  float64
 5   Volume    21659 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.2+ MB

In [9]:
df_sino.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17543 entries, 0 to 2052
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  17543 non-null  object
 1   Open      17543 non-null  float64
 2   High      17543 non-null  float64
 3   Low       17543 non-null  float64
 4   Close     17543 non-null  float64
 5   Volume    17543 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 959.4+ KB

In [10]:
print('Are there duplicates for Astrazenca?', df_astra['Datetime'].nunique()!=df_astra.shape[0])
print('Are there duplicates for Pfizer?', df_pfe['Datetime'].nunique()!=df_pfe.shape[0])
print('Are there duplicates for Sinopharm?', df_sino['Datetime'].nunique()!=df_sino.shape[0])

Are there duplicates for Astrazenca? True
Are there duplicates for Pfizer? True
Are there duplicates for Sinopharm? True

In [14]:
df_astra = df_astra.drop_duplicates(subset='Datetime', keep="last")
df_pfe = df_pfe.drop_duplicates(subset='Datetime', keep="last")
df_sino = df_sino.drop_duplicates(subset='Datetime', keep="last")
print('Are there duplicates for Astrazenca?', df_astra['Datetime'].nunique()!=df_astra.shape[0])
print('Are there duplicates for Pfizer?', df_pfe['Datetime'].nunique()!=df_pfe.shape[0])
print('Are there duplicates for Sinopharm?', df_sino['Datetime'].nunique()!=df_sino.shape[0])

Are there duplicates for Astrazenca? False
Are there duplicates for Pfizer? False
Are there duplicates for Sinopharm? False

In [18]:
df_sino['Datetime'].nunique()

10932

In [19]:
df_sino.shape[0]

10932

In [20]:
df_sino.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10932 entries, 0 to 2052
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  10932 non-null  object
 1   Open      10932 non-null  float64
 2   High      10932 non-null  float64
 3   Low       10932 non-null  float64
 4   Close     10932 non-null  float64
 5   Volume    10932 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 597.8+ KB

In [21]:
df_sino.describe()

               Open          High           Low         Close        Volume
count  10932.000000  10932.000000  10932.000000  10932.000000  1.093200e+04
mean      23.571577     23.596022     23.547699     23.573809  4.552315e+04
std        2.299605      2.303941      2.294489      2.299289  1.082453e+05
min       18.740000     18.740000     18.719999     18.740000  0.000000e+00
25%       22.049999     22.049999     22.000000     22.049999  4.800000e+03
50%       24.100000     24.100000     24.049999     24.100000  1.480000e+04
75%       25.549999     25.600000     25.549999     25.549999  4.240000e+04
max       27.450001     27.600000     27.200001     27.450001  2.490400e+06

In [22]:
df_sino

,Datetime,Open,High,Low,Close,Volume
0,2021-03-31 09:30:00+08:00,18.920000,18.920000,18.799999,18.840000,0
1,2021-03-31 09:31:00+08:00,18.820000,18.879999,18.799999,18.879999,32800
2,2021-03-31 09:32:00+08:00,18.840000,18.879999,18.820000,18.820000,93200
3,2021-03-31 09:33:00+08:00,18.799999,18.820000,18.719999,18.740000,144800
4,2021-03-31 09:34:00+08:00,18.740000,18.760000,18.719999,18.760000,24000
...,...,...,...,...,...,...
2048,2021-05-24 15:40:00+08:00,25.450001,25.549999,25.450001,25.549999,21200
2049,2021-05-24 15:45:00+08:00,25.500000,25.600000,25.500000,25.500000,41200
2050,2021-05-24 15:46:00+08:00,25.500000,25.600000,25.450001,25.450001,21600
2051,2021-05-24 15:48:00+08:00,25.450001,25.549999,25.400000,25.400000,392000
2052,2021-05-24 15:49:35+08:00,25.350000,25.350000,25.350000,25.350000,0

In [23]:
#r = pd.date_range(start=df_astra['Datetime'].min(), end=df_astra['Datetime'].max(), freq='T')
df_astra.set_index('Datetime', inplace=True)
#df_astra=df_astra.reindex(r)
df_astra.index.rename('Datetime', inplace=True)

#r = pd.date_range(start=df_pfe['Datetime'].min(), end=df_pfe['Datetime'].max(), freq='T')
df_pfe.set_index('Datetime', inplace=True)
#df_pfe=df_pfe.reindex(r)
df_pfe.index.rename('Datetime', inplace=True)

#r = pd.date_range(start=df_sino['Datetime'].min(), end=df_sino['Datetime'].max(), freq='T')
df_sino.set_index('Datetime', inplace=True)
#df_sino = df_sino[~df_sino.index.duplicated(keep='first')]
#df_sino=df_sino.reindex(r)
df_sino.index.rename('Datetime', inplace=True)

In [24]:
print(df_astra.index[df_astra['Close'].isnull()])
print(df_pfe.index[df_pfe['Close'].isnull()])
print(df_sino.index[df_sino['Close'].isnull()])

Index([], dtype='object', name='Datetime')
Index([], dtype='object', name='Datetime')
Index([], dtype='object', name='Datetime')

In [25]:
df_pfe

                                Open       High        Low      Close  Volume
Datetime
2021-04-01 09:30:00-04:00  36.299999  36.314999  36.209999  36.285000  868802
2021-04-01 09:31:00-04:00  36.285000  36.299900  36.134998  36.160000  188946
2021-04-01 09:32:00-04:00  36.169998  36.219299  36.154999  36.180000  121815
2021-04-01 09:33:00-04:00  36.180000  36.180099  36.111000  36.160000  176167
2021-04-01 09:34:00-04:00  36.165001  36.180000  36.020000  36.040600  232857
...                              ...        ...        ...        ...     ...
2021-05-21 15:55:00-04:00  40.040001  40.044998  39.990002  40.000000  468928
2021-05-21 15:56:00-04:00  40.000000  40.005001  39.950001  39.959999  241321
2021-05-21 15:57:00-04:00  39.955002  39.990002  39.955002  39.974998  244966
2021-05-21 15:58:00-04:00  39.974998  39.980000  39.950001  39.959999  216200
2021-05-21 15:59:00-04:00  39.955002  39.980000  39.910000  39.959999  788848

[14022 rows x 5 columns]

In [20]:
#df_astra[:500]

# Save a period to integrate with tweet

In [ ]:
# Prendere i dati dal 7 aprile in poi

In [27]:
#from 8 aprile 30 aprile
sino_period=df_sino.loc["2021-04-08 09:30:00+08:00":"2021-05-21 15:59:00+08:00"]
#from 8 aprile 30 aprile
pfe_period=df_pfe.loc["2021-04-08 09:30:00-04:00":"2021-05-21 15:59:00-04:00"]
#from 8 aprile 30 aprile
astra_period=df_astra.loc["2021-04-08 09:30:00-04:00":"2021-05-21 15:59:00-04:00"]

In [28]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Merge_stock\\"
sino_period.to_csv(work_folder+'df_sino.csv')

In [29]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Merge_stock\\"
pfe_period.to_csv(work_folder+'df_pfe.csv')

In [30]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Merge_stock\\"
astra_period.to_csv(work_folder+'df_astra.csv')

# Write complete and clean csv

In [31]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Merge\\"

In [32]:
df_astra.to_csv(work_folder+'df_astra.csv')
df_pfe.to_csv(work_folder+'df_pfe.csv')
df_sino.to_csv(work_folder+'df_sino.csv')